.app {
    position: relative;
    padding: 0;
    font-family: SukhumvitSet,sans-serif;
    margin: 0!important;
    background-color: #fff;
    margin: 0!important;
    font-size: 1rem!important;
    color: #000;
    line-height: 1.5;
}